<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to localhost:3000, </h1>
    <p>
      You have successfully signed up for offers on localhost:3000!
      Use offer code KORFOODS20 at checkout to receive 20% off your next purchase!
    </p>
    <p>We hope our products delight you!</p>
  </body>
</html>