<!--Search Form --->
<%= form_with(url: search_products_path, method: :get, local: true) do %>
  <div class="field is-grouped">
    <div class="control">
      <%= text_field_tag(:keywords, nil, class: "input is-rounded is-success", placeholder: 'Search by Name') %>
    </div>
    <div class="control">
      <div class="select is-rounded is-success">
          <%= select_tag(:category, options_from_collection_for_select(Category.all, :id, :name), include_blank: true) %>
      </div>
    </div>
    <div class="control">
      <%= submit_tag("Search", class: "button is-primary") %>
    </div>
  </div>
<% end %>