<h1 class="title">All Products</h1>

<!--Cards that display product categories-->
<% @products.each_slice(4).to_a.each do |product_row| %>
  <div class="columns">
    <% product_row.each do |product|%>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <%= image_tag product.image if product.image.attached?%>
          </figure>
        </div>
        <div class="card-content">
          <h4><%= link_to product.name, product%></h4>
          <p><%= product.price%></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>

  <%= paginate @products%>