<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>TrittyCoding</strong> by <a href="https://github.com/trittycoding">Travis Taylor</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. Note - this is not a real store, used for demonstration purposes.
      This storefront is based off of <a href="https://www.korgreekproducts.com/">Kor Greek Products</a>.
    </p>
  </div>
</footer>